<template>
    <div class="">
        <h1 class="text-4xl">Dashboard</h1>
        <section class="flex">
            <div class="w-1/4 ">
                <div class="border border-gray-300 p-8 rounded">
                    <form v-on:submit.prevent action="#" method="POST" class="">
                        <div>
                            <label for="steps">Enter Steps</label>
                            <input v-model="newSteps" id="steps" type="number" required />
                        </div>
                        <div class="mt-6">
                            <button @click="postSteps()" class="btn" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-3/4 p-8">
                <h2 class="text-3xl">Step Log</h2>
                <div v-if="steps">
                    <div v-for="step in steps" :key="step.id" class="bg-gray-200 flex justify-between p-1 mb-1">
                        <p>{{ step.count }} - {{ step.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a")  }}</p>
                        <button class="bg-red-500 px-1 py-1 text-white" @click="removeSteps(step.id)">Remove</button>
                    </div>
                </div>
                <div class="" v-else>
                    You have not entered any steps
                </div>
            </div>
        </section>
    </div>
</template>
<script>

    import { mapGetters } from 'vuex'

    export default {
        computed: {
            ...mapGetters([
                'isLogged',
                'user',
                'steps'
            ])
        },
        name: 'Dashboard',
        components: {},
        data() {
            return {
                newSteps: Number
            }
        },
        mounted: function() {
            console.log(process.env.VUE_APP_ROOT_API + 'here')
            this.$store.dispatch('getUserSteps')
        },
        methods: {
            postSteps() {
                this.$store.dispatch('postUserSteps', {
                    count: this.newSteps,
                })
            },
            removeSteps(id){
                this.$store.dispatch('removeUserSteps',{
                    id: id
                })
            }
        }
    }
</script>