<template>
  <div class='about w-1/2'>
    <h1 class='text-4xl'>Features</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ducimus vero deleniti, saepe laborum, eos! Debitis ea doloremque dolorum sequi eveniet, est, consequatur? Itaque non consequatur fuga inventore consectetur totam.</p>
  </div>
</template>
