<template>
  <div>
    <HeroSection />
    <FooterSection />
  </div>
</template>

<script>
// @ is an alias to /src
import HeroSection from '@/components/HeroSection.vue'
import FooterSection from '@/components/FooterSection.vue'

export default {
  name: 'Home',
  components: {
    HeroSection,
    FooterSection
  }
}
</script>
