<template>
    <div class="max-w-sm p-4">
        <h1 class="mt-6 text-3xl text-black">Login</h1>
        <form v-on:submit.prevent action="#" method="POST">
            <div>
                <label for="email">Email</label>
                <input v-model="email" id="email" type="email" required />
            </div>
            <div class="mt-6">
                <label for="password">Password</label>
                <input v-model="password" id="password" type="password" required />
            </div>
            <div v-if="error" class="bg-red-100">
                {{ error }}
            </div>
            <div class="mt-6">
                <button class="btn" @click="login()" type="submit">Login</button>
            </div>
            <p class="mt-4 text-sm">Don't have an account? <router-link to="/register" class="text-black font-bold" href="">Join Now</router-link>
            </p>
        </form>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email: '',
                password: '',
                error: ''
            }
        },
        methods: {
            login() {
                this.$store
                    .dispatch('login', {
                        email: this.email,
                        password: this.password
                    })
                    .then(() => {
                        this.$router.push({
                            path: '/dashboard'
                        })
                    })
                    .catch(err => {
                        this.error = err.message
                        console.log(err.message)
                    })
            }
        }
    }
</script>