<template>
    <div class="max-w-sm p-4">
        <h1 class="mt-6 text-3xl text-black">Register</h1>
        <form v-on:submit.prevent action="#" method="POST">
            <div>
                <label for="name">Name</label>
                <input v-model="name" id="name" type="text" required />
            </div>
            <div class="mt-6">
                <label for="email">Email</label>
                <input v-model="email" id="email" type="email" required />
            </div>
            <div class="mt-6">
                <label for="password">Password</label>
                <input v-model="password" id="password" type="password" required />
            </div>
            <div class="mt-6">
                <button class="btn" @click="register()" type="submit">Register</button>
            </div>
            <p class="mt-4 text-sm">Already have an account? <router-link to="/login" class="text-black font-bold">Login</router-link>
            </p>
        </form>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                name: '',
                email: '',
                password: ''
            }
        },
        methods: {
            register() {
                this.$store
                    .dispatch('register', {
                        name: this.name,
                        email: this.email,
                        password: this.password
                    })
                    .then(() => {
                        this.$router.push({
                            path: '/dashboard'
                        })
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        }
    }
</script>