<template>
    <div id="app" class="container mx-auto">
        <div class="flex justify-between py-6 items-center">
            <router-link to="/">
                <img class="h-12" src="/images/logo.svg" alt="Walker">
            </router-link>
            <div>
                <div v-if="user">
                    <router-link class="text-2xl mx-4" to="/dashboard">Dashboard</router-link>
                </div>
                <div v-else>
                    <router-link class="text-2xl mx-4" to="/features">Features</router-link>
                    <router-link class="text-2xl mx-4" to="/about">About</router-link>
                    <router-link class="text-2xl mx-4" to="/steps">Steps</router-link>
                </div>
            </div>
            <div>
                <div v-if="user" class="flex items-center">
                    <p>Hello, {{ user.name }}</p>
                    <div>
                        <button class="ml-4" type="button" @click="logout()" v-if="isLogged">Logout</button>
                    </div>
                </div>
                <div v-else class="flex items-center">
                    <router-link to="/login">Login</router-link>
                    <router-link to="/register" class="btn ml-4" v-if="!isLogged">Register</router-link>
                </div>
            </div>
        </div>
        <router-view />
    </div>
</template>
<script>
    import {
        mapGetters
    } from 'vuex'
    export default {
        computed: {
            ...mapGetters([
                'isLogged',
                'user'
            ])
        },
        methods: {
            logout() {
                this.$store.dispatch('logout')
            }
        }
    }
</script>